html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
     pointer-events: none;
  } 

/* Showcase */
.quote-icon{
  position: absolute;
  left: 0;
  top: 0;
}
.section-quote *{
  text-align: center;
  font-size: 35px;
  line-height: 44px;
}

/* Timeline */
.timeline-splide{
  .splide__slide{
    opacity: 0.5;
  }
  .splide__slide.is-active{
    opacity: 1;
    border: none !important;
  }
}
/* #progress-area{
  position: absolute;
  top: 50%;
  width: 100%;
} */
.progress-wrapper {
  position: relative;
  width: 100%;
  height: 5px;
  background: #E0E0E0;
  border-radius: 6px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #FC1333;
  border-radius: 6px;
  transition: width 0.3s ease;
}

/* Dots container */
.dots-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  transform: translateY(-50%);
}

/* Dot styling */
.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E0E0E0;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.dot.active {
  background-color: #FC1333; 
  transition: transform 0.3s ease, background-color 0.3s ease;
}


